<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JC</title>
	<link href="css/styless.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
		<h1 class="mainH1">Java connection</h1>
		<div class="mainDivHeader">
			<form method="post" action="">
				<button class="button" name="back" value="1">Back</button>
				<button class="button" name="logOut" value="1">Log out</button>
			</form>
		</div>
	</header>
	<div class="divTable">
		<table>
			<thead>
				<tr>
					<th>IP</th>
					<th>Port</th>
					<th>Status</th>
					<th>Control</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>192.168.1.0</td>
					<td>80</td>
					<td>TEST</td>
					<td align="center">
						<form method="get" action="">
							<button class="buttonTable" name="ipAddress" value="">Control</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="divSettings">
		<form method="get" action="">
			<p>Scanning IP addresses</p>
			<p><input type="text" name="ipAddress" placeholder="IP address (192.168.XX.XX)" required></p>
			<p><input type="text" name="port" placeholder="Port (default 5556)" required></p>
			<button class="button">Scan</button>
		</form>
	</div>
</body>
</html>