<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Main</title>
	<link rel="stylesheet" type="text/css" href="css/styless.css">
</head>
<body>
	<header>
		<h1 class="mainH1">Main menu</h1>
	</header>
	<div class="mainDiv">
		<form method="get" action="">
			<button class="mainButton" name="jC" value="1">View all PCs with Java control(JC)</button>
			<button class="mainButton" name="settings" value="1">Settings</button>
			<button class="mainButton" name="logOut" value="1">Log out</button>
		</form>
	</div>
</body>
</html>
