<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Control</title>
	<link href="style/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
		<h1 class="jcH1" th:text="${ipAddress}"></h1>
		<div class="mainDivHeader">
			<form method="get" action="/JC">
				<button class="button" name="back" value="1">Back</button>
			</form>
		</div>
	</header>
	<div class="mainDiv">
		<form method="post" action="/Control">
			<button class="mainButton" name="reboot" value="1">Reboot PC</button>
			<button class="mainButton" name="powerOff" value="1">Power off PC</button>
			<button class="mainButton" name="logOut" value="1">Log Out PC</button>
		</form>
	</div>
</body>
</html>