<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Main</title>
	<link href="style/new_styles.css" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<script type="text/javascript" src="js/mainScript.js"></script>
</head>
<body>
	<header>
		<p class="headerP">Main menu</p>
	</header>
	<div class="leftDiv">
		<button class="mainButton" name="jC" value="1" onclick="jcShow()">View all PCs with Java control(JC)</button>
		<br/>
		<button class="mainButton" name="settings" value="1">Settings</button>
		<br/>
		<button class="mainButton" name="logOut" value="1">Log out</button>
	</div>
</body>
</html>
