<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Main</title>
	<link href="style/new_styles.css" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/mainScript.js"></script>
</head>
<body>
	<header>
		<p class="headerP">Main menu</p>
	</header>
	<div class="leftDiv">
		<button class="mainButton" onclick="jcShow()">View all PCs with Java control(JC)</button>
		<br/>
		<button class="mainButton" onclick="settingsShow()">Settings</button>
		<br/>
		<button class="mainButton" >Log out</button>
	</div>
	<div class="rightDiv">
		<div id="jcShow">
			<div class="JCDiv">
			<table>
				<thead>
					<tr>
						<th>IP</th>
						<th>Port</th>
						<th>Status</th>
						<th>Control</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>192.168.0.1</td>
						<td></td>
						<td>Active</td>
						<td>
							<button class="buttonTable" onclick="controlShow()">Control</button>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			<div class="addPC">
				<p style="color: #fff;">Scanning IP addresses</p>
				<p><input type="text" name="ipAddress" placeholder="IP address (192.168.XX.XX)" required></p>
				<p><input type="text" name="port" placeholder="Port (default 5556)" required></p>
				<button id="scanButton" class="mainButton">Scan</button>
			</div>
		</div>
		<div id="settingsShow">
			<p style="margin-left: 11px;font-size: 20px;">Server settings</p>
			<div class="settingsBox">
				<button class="settingsButton" onclick="rebootServer()">Reboot server</button>
				<button class="settingsButton">Show server logs</button>
			</div>
			<p style="margin-left: 11px;font-size: 20px;">Account settings</p>
			<div class="settingsBox">
				<button class="settingsButton" onclick="changePassword()">Change password</button>
			</div>
		</div>
		<div id="controlShow">
			
		</div>
	</div>
</body>
</html>